.output{
    display:flex;
    flex-flow:column;
    
}
.output > div{
    background-color:gray;
    margin-top:0.5rem;
    width:300px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;


}
.input{
    display:flex;
    justify-content: center;
  
}
.input1{
    margin:0.5rem

}
.input2{
margin:0.5rem;
}

@keyframes cash{
    0%{
        transform:translateX(0);
       opacity:1;  
    }
    
    100%{
        transform:translateX(40vw);
        opacity:1;
    }


}
.cash_cont img{
    height:50px;
    width:20px;
    animation:cash 1.5s ease-out normal;
    animation-fill-mode: forwards;
    position:relative;
    left:-70px;

}
