.output{
    display:flex;
    flex-flow:column;
    width:500px;
    height:200px;
    margin:0 auto;
    background-color:lightpink;
    
    border-radius:0 0 1rem 1rem;
    
    
}
.output > div{
    background-color:gray;
    margin-top:5px;
    width:300px;
    height:25px;
    text-align: center;
    border-radius: 1rem;
    align-items: center;
    

}
.input{
    display:flex;
    justify-content: center;
  
}
.input1{
    margin:0.5rem;
    border-radius: 5px;
    border:none;
    background-color:lightblue;
    text-align: center;
    height:25px;

}
.input2{

margin:0.5rem;
border-radius: 5px;
border:none;
background-color:lightblue;
text-align: center;
height:25px;
}
#button{
    margin:0.5rem;
    display:inline-block;    
    height:27px;
    width:60px;
    border:none;
    border-radius: 0.5rem;
    background-color: lightcoral;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    cursor:pointer;
}
#button:active{
    transform:translateY(4px);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);



}

.container{
    background-color: black;
    width:500px;
    margin:0 auto;
    border-radius: 1rem 1rem 1rem 1rem;
    
}

@keyframes left1{
    0%{
        transform:translateX(-25vw);
       opacity:0;  
    }
    50%{
        
        opacity:0;  
     }
     60%{
         
        opacity:0;  
     }
    
    100%{
        transform:translateX(135px);
        opacity:1;
    }


}

@keyframes right1{
    0%{
        transform:translateX(50vw);
       opacity:0;  
    }
    50%{
        
       opacity:0;  
    }
    60%{
        
       opacity:0;  
    }
    
    100%{
        transform:translateX(-5px);
        opacity:1;
    }


}
.output_block:nth-child(odd) {
    
    animation:left1 2s ease normal;
    animation-fill-mode: forwards;
    position:relative;
    left:-70px;
    padding-top: 5px;

}
.output_block:nth-child(even) {
   
    animation:right1 2s ease normal;
    animation-fill-mode: forwards;
    position:relative;
    right:-70px;
    padding-top: 5px;


}
.circle1{
    position:absolute;
    top:150px;
    left:-40px;
    width:100px;
    height:100px;
    border-radius: 4rem;
    background-color:lightpink;
}
.circle2{
    position:absolute;
    top:100px;
    right:-40px;
    width:100px;
    height:100px;
    border-radius: 50% 10% 0% 0% ;
    background-color:lightpink;
}
.circle3{
    position:absolute;
    top:120px;
    right:200px;
    width:100px;
    height:100px;
    border-radius: 5rem ;
    background-color:lightpink;
}
